<!-- <div *ngIf="pokemonsList">
  {{ jsonData[0].name | json }} <br />
</div> -->

<router-outlet></router-outlet>


<button class="rounded-button">select</button>
<div class="grid-container">

  <header>
    <div class="logo">
      <img src="../assets/img/pokeball-icon-1.png" alt="">
      <!-- <h1>{{title}}</h1> -->
    </div>
    <div class="menu">
      <h1 class="">Pokédex</h1>
    </div>
    <div class="contact"></div>
    <div class="recherche">
      <input #input (keyup.enter)="selectPokemonByName(input.value)" type="text" />
      <button class="search-icon">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>

    </div>
    <!-- a revoir -->
    <div *ngIf="pokemonSelected">
      <p>Vous avez saisie {{pokemonSelected?.name}}, il est de type :
        {{pokemonSelected?.types}}
      </p>
    </div>
  </header>

  <section class="main">
  
    <div appBorderCard class="cards-container" *ngFor="let pokemon of pokemonsList.slice(0,5)">
      <div class="card-img">
        <img (click)="selectPokemon(pokemon)" [src]="pokemon.images.small" alt="carte pokemon :{{ pokemon.name }}">
      </div>

      <div class="card-info">
        <p>{{pokemon.name}}</p>
        <span *ngFor="let type of pokemon.types" [style.background-color]="type | pokemonTypeColor">
          {{type}}
        </span>
      </div>
      <!-- <div class="card-info">
        <p *ngIf="selectedPokemon === pokemon">
          <label>Le nom : </label>
          {{pokemon.name}} <br />
          <label>Espèce : </label>
          {{pokemon.types}}
        </p>
      </div> -->
    </div>


    <!-- <div class="cards">
      <img [src]="jsonData[0].images.small" alt="{{ jsonData[0].name }}">
      <img [src]="jsonData[0].images.small" alt="{{ jsonData[0].name }}">
      <img [src]="jsonData[0].images.small" alt="{{ jsonData[0].name }}">
      <img [src]="jsonData[0].images.small" alt="{{ jsonData[0].name }}">
    </div> -->


  </section>

  <footer>
    <p>Droit d'auteur </p>1
  </footer>

</div>