/* You can add global styles to this file, and also import other style files */

// @import "@fortawesome/fontawesome-free/css/all.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #C38257;
    --secondary: #C5847F;
    --light: #EFE4AF;
}

body {
    // background: linear-gradient(90deg, hsla(208, 33%, 21%, 1) 0%, hsla(211, 36%, 46%, 1) 100%);
    // background-color:#D8D8D8 ;

}


.grid-container {
    display: grid;
    min-height: 100vh;
    grid:
        "header header  header" 200px "main main main" auto "footer footer footer" 200px / 1fr 1fr 1fr;
    flex-wrap: wrap;

}


header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    // grid: "logo menu contact recherche" 200px/ 150px 1fr 1fr 1fr;
    background-color: #003C3C;

}

.logo {
    display: flex;
    // justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 50px;

    img {
        width: 60px;
        // margin-left: 80px;

        overflow: hidden;
        transition: transform 0.5s ease;

        &:hover {
            transform: rotate(360deg);
        }
    }

}


.menu {
    // background-color: rgb(208, 208, 216);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: whitesmoke;
        font-size: 3rem;

        &:hover {
            font-size: 6rem;

        }
    }

}

.contact {
    // background-color: rgb(189, 189, 170);
}

.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    flex-wrap: wrap;

    input {
        width: 200px;
        height: 50px;
        border: 0;
        padding: 1rem;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        outline: none;
    }

    button {
        background-color: white;
        height: 50px;
        padding: 1rem;
        border: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .info-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    margin: 50px;
    padding: 50px;

}

.cards-container {

    width: 450px;
    border-radius: 25px;

    background-color: #ece3ab;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    &:hover {
        transform: scale(1.05);
    }

    .card-img {
        width: auto;
        padding: 1rem;

        img {
            margin: 2px;
            width: 200px;
        }
    }

    .card-info {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        color: rgb(3, 3, 3);

        font-size: 1.5rem;

        p:first-child {
            margin-top: 2.5rem;
            font-weight: bolder;
        }

        p {
            margin-bottom: 2rem;
            padding: 10px 20px;
        }

        span {
            // width: auto;
            // height: auto;
            color: black;
            padding: 15px 20px;
            border-radius: 25px;
        }


    }


}

footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary);
    color: white;
}

// https://dribbble.com/shots/16868991-Pokemon-Trading-Card-NFT/attachments/11930813?mode=media